<nav class="nav mt-3">
            
    <a class="  " href="{{ url_for('index') }} "> Search</a>
    <a class="  " href=" {{ url_for('save') }} ">Search and save </a>
    
  </nav>

  <style>
      nav{
          background-color: black;
          color: #fff;
          padding: 5vmin;
          border-radius: 10vmin;
         
          text-align: center;
      }
      nav a{
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          padding-left: 30%;
          font-size: 2vmin;
          color: blanchedalmond;
          /* margin-right: 3vmin; */
          /* margin-left: 3vmin; */
      }

      nav a:hover{
          color: white;
          text-decoration: none;
      }
  </style>